body {
    background-color: white;
}

.Weather {
    border: 1px solid; 
    font-family: Arial, sans-serif;
    padding: 16px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 15px;
}

.Weather form {
    margin-bottom: 20px;
}

.Weather canvas {
    height: 85px;
    margin-right: 120px;
    margin-bottom: -70px;
    display:inline-block;

}

.Weather h1 {
    color: #878787;
    color: rgb(135, 135, 135);
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin: 0;
}

.Weather ul {
    margin: 0;
    padding: 50;
}
.Weather li {
    color: #878787;
    color: rgb(135, 135, 135);
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    list-style:disc;
}

.Weather .temperature {
    font-weight: bold
    color rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin-left: 115px;
    margin-top: 0px;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -5px;
    margin-left: 15 px;
    margin-bottom: 0px;
}

